@using Syncfusion.Blazor
@using Syncfusion.Blazor.Grids;
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Buttons;
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Spinner
@using Syncfusion.Blazor.Popups;
@using Syncfusion.Blazor.Inputs;


@using BlazorEcommerce.Shared.Models;

@inject IPersonService PersonService;
@inject IClassService ClassService;
@implements IDisposable
@attribute [Authorize];
@inject CustomAuthStateProvider AuthStateProvider;
@inject NavigationManager NavigationManager


@{
    
    var SpecificCols = (new string[] { "FullName" });
}


      <div style="display:flex;justify-content:start;align-items:flex-start">
    <h3><span>Öğrenci Listesi</span></h3> <span style="font-size:18px">&nbsp;(@countOfStudents)</span>
    </div>

@*Hiddden dialog for delete confirmation*@
<SfDialog @ref="DialogPersonDelete" Width="250px" Visible="false" ShowCloseIcon="true" IsModal="true">
    <DialogEvents Closed="Closed"></DialogEvents>
    <DialogTemplates>
        @*Here you can customize the Header and Content of delete confirmation dialog*@
        <Header>
            <div style="display:flex;justify-content:start;align-items:self-end">
                <span class="e-icons e-align-right"></span>
                <span style="padding-left:5px">Kayıt Silme İşlemi</span>
            </div>
            
            </Header>
        <Content> Seçili kayıt silinsin mi? 
            <div><b>@SelectedData.FullName</b></div>
            </Content>
    </DialogTemplates>
    <DialogButtons>
        <DialogButton OnClick="@OkClick" Content="Evet" IsPrimary="true"></DialogButton>
        <DialogButton OnClick="@CancelClick" Content="Hayır"></DialogButton>
    </DialogButtons>
</SfDialog>

@*Main Grid*@
<SfGrid @ref="gridperson" DataSource="@PersonService.Person" EnableAdaptiveUI="true" AdaptiveUIMode="AdaptiveMode.Both" Width="%80" Height="%90"
        AllowPaging="true" AllowFiltering="true" AllowSorting=" true" Toolbar="@(new List<string>() { "Add", "Edit", "Delete", "Cancel", "Update" })">
       <SfToolbar> 
        <ToolbarItems> 
            <ToolbarItem Type="ItemType.Input" Align="Syncfusion.Blazor.Navigations.ItemAlign.Right"> 
                <Template>
                    <SfButton OnClick="RemoveFilter">Filtreleri Kaldır</SfButton>
                    <SfTextBox @ref="searchButton" Placeholder="Enter values to search" Input="OnInput"></SfTextBox>
                    <span style="padding-left:3px" class="e-search-icon e-icons"></span> 
                </Template> 
            </ToolbarItem> 
        </ToolbarItems> 
    </SfToolbar> 

    <GridSearchSettings Fields=@SpecificCols Operator=Syncfusion.Blazor.Operator.Contains IgnoreCase="true" IgnoreAccent="true"></GridSearchSettings>
    <GridFilterSettings Type="@Syncfusion.Blazor.Grids.FilterType.Excel" ShowFilterBarStatus="false" Operators="Operator.Contains" Mode="FilterBarMode.Immediate" ImmediateModeDelay="500">
    </GridFilterSettings>
    <GridSortSettings>
        <GridSortColumns>
            <GridSortColumn Field="FullName" Direction="Syncfusion.Blazor.Grids.SortDirection.Ascending"></GridSortColumn>
        </GridSortColumns>
    </GridSortSettings>
    <GridPageSettings PageSize="15"></GridPageSettings>
    <GridEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true" Mode="EditMode.Dialog" >
        <Validator>
            <DataAnnotationsValidator></DataAnnotationsValidator>
        </Validator>
    </GridEditSettings>
    <GridEvents OnActionBegin="ActionBeginHandler" OnActionComplete="ActionCompleteHandler" RowSelected="RowSelectHandler" TValue="PersonDto"></GridEvents>
    

    <GridColumns>
        <GridColumn Field=@nameof(PersonDto.FullName) HeaderText="İsim Soyisim" Width="120px" FilterSettings="@(new FilterSettings{ Operator = Operator.Contains })"></GridColumn>

        <GridForeignColumn Field=@nameof(PersonDto.ClassId) TValue="ClassListExtendedDto" FilterSettings="@(new FilterSettings{ Operator = Operator.Contains,Type= Syncfusion.Blazor.Grids.FilterType.Excel})" ForeignKeyField="ClassId" ForeignKeyValue="Name" ForeignDataSource="classListExtended" HeaderText="Sınıfı" Width="150"></GridForeignColumn>

        <GridColumn Field=@nameof(PersonDto.Phone) HeaderText="Telefon" Width="100px" ></GridColumn>
        <GridColumn Field=@nameof(PersonDto.Ismature) DisplayAsCheckBox="true" MinWidth="10px" Width="80" MaxWidth="80" HeaderText="Yetişkin?" >
            <HeaderTemplate>
                @{
                    <SfTooltip>
                        <TooltipTemplates>
                            <Content>
                                Yetişkin mi?
                            </Content>
                        </TooltipTemplates>
                        <span style="font-weight:bold;font-size:14px">Yetişkin mi?</span>
                    </SfTooltip>
                }
            </HeaderTemplate>
            <FilterTemplate> <Syncfusion.Blazor.Buttons.SfCheckBox TChecked="bool" ValueChange="ValueChange"></Syncfusion.Blazor.Buttons.SfCheckBox>  </FilterTemplate>
           <Template>
                @{
                    var value = (context as PersonDto);
                    var result = (value.Ismature.HasValue && value.Ismature.Value) ? "Evet" : "Hayır";
                    <div style="display:flex;justify-content:start;align-items:center">

                       
                            @if (result == "Evet")
                            {
                                <span style="font-size:18px;color:black" class="e-icons e-people"></span>
                            }
                            else
                            {
                            <span style="font-size:18px;color:black" class="e-icons e-user"></span>
                            }
                        <span id="Emptext">@result</span>
                       
                    </div>
                    
                }
            </Template>
            
        </GridColumn>
        <GridColumn Field=@nameof(PersonDto.Parentname) HeaderText="Velisi" Width="150px"></GridColumn>
    </GridColumns>
</SfGrid>


@code {
    SfGrid<PersonDto>? gridperson;
    SfTextBox searchButton;
    SfDialog? DialogPersonDelete;
    List<IdValuePair> classList;
    List<ClassListExtendedDto> classListExtended;
    bool authorized = false;
    int countOfStudents;

    public PersonDto SelectedData = new PersonDto();
    public bool flag = true;





    public class ClassListExtendedDto
    {
        public Guid? ClassId { get; set; }
        public string? Name { get; set; }
    }

    protected override async void OnInitialized()
    {
        PersonService.PersonChanged += StateHasChanged;


    }
    public void Dispose()
    {
        PersonService.PersonChanged -= StateHasChanged;
    }

    protected override async Task OnParametersSetAsync()
    {


        var authState = await AuthStateProvider.IsAuthenticated();
        if (authState)
        {
            authorized = true;
            classList = await ClassService.GetClassIdValuePair();
            classListExtended = (await ClassService.GetClassIdValuePair()).Select(s => new ClassListExtendedDto() { ClassId = s.Id, Name = s.Value }).ToList();
            GetData();
        }
        else
            NavigationManager.NavigateTo("/login");
    }

    public async Task GetData()
    {
        await PersonService.GetPersonList();
        countOfStudents = PersonService.Person.Count();

    }

    //Grid Actions
    public void ValueChange(Syncfusion.Blazor.Buttons.ChangeEventArgs<bool> args)
    {
        gridperson.FilterByColumnAsync("Ismature", "equal", args.Checked);
    }



    //Grid Delete Confirmation
    public void Closed()
    {
        flag = true;
    }


    public void RowSelectHandler(RowSelectEventArgs<PersonDto> Args)
    {
        SelectedData = Args.Data;
    }
    private async Task OkClick()
    {
        await PersonService.DeleteProduct(SelectedData);   //Delete the record programmatically while clicking OK button.
        await DialogPersonDelete.HideAsync();
        await GetData();
    }
    private void CancelClick()
    {
        DialogPersonDelete.HideAsync();
    }

    //Grid custom search
    public async Task OnInput(InputEventArgs Args)
    {
        await Task.Delay(500);
        if(!String.IsNullOrEmpty(Args.Value) && Args.Value.Count()>1)
        {

            var normalizedValue = Args.Value.ToLower(new System.Globalization.CultureInfo("tr-TR"));
            await gridperson.SearchAsync(normalizedValue);
        }
        else
            gridperson.SearchAsync(null);
    }

    //Events and Custom CRUD actions
    public void RemoveFilter()
    {
        gridperson.ClearFilteringAsync();
        gridperson.Refresh();
        searchButton.Value = "";
        gridperson.SearchAsync(null);


    }
    public async Task ActionBeginHandler(ActionEventArgs<PersonDto> Args)
    {

        if (Args.RequestType.Equals(Syncfusion.Blazor.Grids.Action.Save))
        {
            if (Args.Action == "Add")
            {
                //args.Cancel = true;
                await PersonService.CreatePerson(Args.Data);
                await gridperson.CloseEditAsync();
            }
            else
            {
                await PersonService.UpdateProduct(Args.Data);
                await gridperson.CloseEditAsync();
                //LibraryService.UpdateBook(Args.Data.Id, Args.Data);
            }
            await GetData();
        }
     
        if (Args.RequestType.ToString() == "Delete" && flag)
        {
            Args.Cancel = true;  //Cancel default delete action.
            await DialogPersonDelete.ShowAsync();
            flag = false;
         
        }
        
    }

    public void ActionCompleteHandler(ActionEventArgs<PersonDto> Args)
    {
        if (Args.RequestType.Equals(Syncfusion.Blazor.Grids.Action.Save))
        {
            GetData(); //to fetch the updated data from db to Grid
        }
    }



}

<style>
/*    .e-gridperson .e-pagerexternalmsg {
        display: none;
    }

    .e-gridperson .e-filterbar .e-filterbarcell .e-filterdiv .e-fltrinputdiv  {
        text-align: left !important;
    }

    .e-gridperson .e-filterdiv .e-fltrinputdiv {
        text-align: left !important;
    }

    .e-gridperson .e-fltrtempdiv{
        text-align: left !important;
    }

    .e-filterdiv e-fltrinputdiv{
        text-align: left !important;
    }*/
</style>
